* {
    box-sizing: border-box;
}

.alignment {
    max-width: 980px;
    margin: 0 auto;
}

input[type="text"],
input[type="email"] {
    outline: none;
    border: none;
}

input[type="submit"] {
    cursor: pointer;
    outline: none;

    color: #fff;
    font-family: 'GothamProMedium';

    text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);

    text-transform: uppercase;

    background-color: #e94e38;
    border-color: #c1412e;
    border-radius: 30px;
}

.button {
    outline: none;
    border: none;
    cursor: pointer;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;  
    background-color: #1baf5d;

    &_bg-color2 {
        background-color: #f19e1f;
    }

    &_bg-color3 {
        background-color: #88499c;
    }
    
    &_disabled {
        background-color: #b6c0c1;
    }
}

.im-cap, .im-user, .im-music,
.im-house, .im-vehicle {
     
    &_size-small {
        font-size: 20px;
    }

    &_size-middle {
        font-size: 24px;
    }

    &_size-large {
        font-size: 40px;
    }
}

.mob {
    display: none;
}