@media (min-width: 480px) and (max-width: 979px) {
    
    .alignment {
        max-width: 480px;
        padding: 0 15px;
    }

    .header {
        padding-bottom: 20px; 
    }

    .header-flex {
        flex-wrap: wrap;
    }

    .logo {
        width: 32.2917%;
    }

    .nav {
        margin-top: 20px;
        width: 100%; 
        order: 2;
    }

    .authorization {
        width: 55%;
        order: 1;
    }

    .request {
        width: 100%;
    }

    .choice-flex {
        flex-direction: column;
    }

    .classification {
        width: 58.6666%;
        order: 0;

        &__list {
            flex-direction: row;
        }        
    }

    .opted {
        width: 56%;
        margin-top: 25px;
    }

    .filter {
        margin-top: 25px;

        width: 65.5555%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
 
    .cards {
        width: 100%;
        flex-wrap: wrap;
    }

    .card {
        width: 46.6667%;

        &_size-middle {      
            width: 100%;
        }
    }

    .author { 
        &__content {
            width: 81.7307%;
        }
    }

    .heading {
        width: 77%; 
    }

    .enumeration {
        width: 88%;
        flex-wrap: wrap;

        &__button {
            margin-top: 20px;

            &:nth-child(-n+4) {

                &::after {
                    width: 35px;
                }
            }

            &:nth-child(3) {
    
                &::after {
                    display: none;
                }
            }

            &:nth-child(4) {
    
                &::after {                  
                    display: none;
                }
            }
        }
    }

    .notice {
        width: 100%;

        &__content {
            flex-direction: column;
            align-items: center;
        }
    }

    .description {
        width: 100%; 

        &__text {
            width: 80%;
        }
    }

    .footer {
        margin-top: 70px;
    }

    .subscribe {
        margin-top: 25px;
        width: 100%;
    }  

    .email {
      
        &__input {
            width: 57%;
        }
    }

    .completion {
        
        &__content {
            width: 100%;
            padding-top: 20px;
        }
    }

    .about {
        width: 22.4444%;  

        &__links {
            margin-top: 20px;
        }
    }
    
    .contact {
        width: 48.8888%;
    }

    .mob {
        display: none;
    }

    .tab {
        display: block;
    }
}