@media (min-width: 320px) and (max-width: 479px) {

    .alignment {
        max-width: 320px;
        padding: 0 15px;
    }

    .header-flex {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        width: 48.4375%;
    }

    .nav {
        width: 48.0612%;
        order: 2;

        &__list {
            flex-direction: column;
            align-items: center;
        }
        
        &__link {
            padding: 10px 0; 
        }  
    }

    .authorization {
        width: 100%;
        order: 1;
    }

    .login {

        &::after { 
            display: none;
        }
    }

    .intro {
        &__title {
            font-size: 21px;
        }
    }

    .request {
        width: 100%;
    }

    .selects {
        flex-direction: column;
     
        .select2.select2-container.select2-container--default {
            width: 100% !important;

            &:last-child {
                margin-top: 25px;
            }
        }
    }

    .submit {    
    
        &__input {
        
            &_size-middle {
                margin-top: 25px;    
                position: static;
            }
        }
    } 

    .choice-flex {
        flex-direction: column;
    }

    .classification {
        width: 100%;
        order: 0;

        &__list {
            flex-direction: row;
        }        
    }

    .opted {
        width: 100%;
        margin-top: 15px;
    }

    .filter {
        margin-top: 25px;

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
       
    .cards {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        width: 72.4138%;
        margin-top: 30px;

        &:first-child {
            margin-top: 0;
        }
    }

    .heading {
        width: 100%; 
    
        &__title {
            font-size: 18px;
        }
        
        &__subtitle {
            font-size: 14px;
        }
    }

    .enumeration {
        width: 91.3793%;
        flex-wrap: wrap;

        &__button {
           
            margin-top: 20px;

            &:nth-child(2n) {
    
                &::after {
                    content: "";
                    display: none;
                }
            }
        }
    }

    .notice {
        width: 100%;

        &__title {
            font-size: 20px;
        }

        &__content {
            flex-direction: column;
        }
    }

    .description {
        width: 100%; 
    }

    .footer {
        margin-top: 70px;
    }

    .outro {    
        &__title{
            font-size: 20px;
        }
    }

    .subscribe {
        margin-top: 25px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        position: static;  
    }

    .email {
        width: 100%;
    } 

    .completion {
        margin-top: 25px;
       
        &__content {
            width: 100%;
            padding-top: 20px;
            flex-wrap: wrap;
        }
    }

    .about {
        width: 34.8275%;  

        &__links {
            margin-top: 20px;
        }
    }
    
    .contact {
        margin-top: 25px;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
            width: 27.2413%;
        }
    }

    .mob {
        display: block;
    }

    .tab {
        display: none;
    }
}